<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/guide.css">
    <title>Document</title>
</head>
<body>
    <!-- 黑色圖層 -->
    <div id="mask"></div>

    <div id="searchTip">
        <div class="stepA"><a>NEXT</a><span title="X">X</span></div>
        <div class="stepB"><a>NEXT</a><span title="X">X</span></div>
        <div class="stepC"><a>NEXT</a><span title="X">X</span></div>
        <div class="stepD"><a>NEXT</a><span title="X">X</span></div>
        <div class="stepE"><a>NEXT</a></div>
    </div>

    <script>
        

    </script>
</body>
</html>