<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Phaser3 + Parceljs Template</title>



    <!-- bootstrap function and css style -->
    <link rel="stylesheet" href="/src/static/bootstrap/css/bootstrap.min.css">
    <script src="/src/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- this html css style -->
	<link rel="stylesheet" href="/src/static/css/game.css">

    <!-- upload and modify function -->
    <script type="text/javascript" src="/src/static/js/upload.js"></script>
    <script type="text/javascript" src="/src/static/js/preloadImage.js"></script>

    <!-- Loading Game  -->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script type="text/javascript" src="index.js"></script>

</head>
<body style="background-color: orange;">


    <div id="root"></div>

	<!-- upper bar V -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/uploadFile">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <input id="getUserID" type = "hidden" value = "<%= username%>">
                    <input id="getGameID" type = "hidden" value = "<%= gameID%>">
                    <input id="getUserIdz" type = "hidden" value = "<%= userJsonData.items[1].src%>">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <!-- left game bar -->
        <div class="phone-style">
            <div class="phone" id="phaser-app"></div>
        </div>
        <div class="row justify-content-end right-select-bar">
            <div class="col-4"></div>

            <!-- middle detail form -->
            <div class="col-8">
                <div class="row">

                    <!-- middle red show bar -->
                    <div id="detailCard" class="overflow col-7">
                        <h2 style="text-align:center;">使用預設圖片</h1>
                        <div>
                            <div class="row row-cols-1 row-cols-md-2 g-4 " >

                                <div class="col">
                                    <div id="defaultCard1" class="card">
                                        <img id="defaultPic1" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="/src/static/img/exPic.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="/src/static/img/exPic.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="/src/static/img/exPic.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- right select bar -->
                    <div class="col-5">
                        <div class="bd-link">
                            <form action="/doUpload" id="dataForm" method="post" enctype="multipart/form-data">
                                <div id="chooseCard1" class="card text-center loginBox">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <label class="form-label">製 作 桶</label>
                                            <input type="hidden" name="foodCan_default" id="foodCan_default" class="card-img-top" value="<%= userJsonData.items[1].src%>"/>
                                            <input class="form-control" type="file" name="foodCan" id="foodCan"/>

                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-label">生成的X位置</label>
                                                    <input class="form-control" type="number" name="foodCan_position_x" id="foodCan_position_x" value="<%= userJsonData.items[1].position.x%>"/>
                                                </div>
                                                <div class="col">
                                                    <label class="form-label">生成的Y位置</label>
                                                    <input class="form-control" type="number" name="foodCan_position_y" id="foodCan_position_y" value="<%= userJsonData.items[1].position.y%>"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="card-body">
                                    <h5 class="card-title">預覽圖</h5>

                                    <img style="width: 50%; height: 50%;" id="foodCan_image" src="<%= userJsonData.items[1].src%>">
                                    </div>
                                    <div class="card-footer text-muted">
                                    </div>
                                </div>

                                <div id="chooseCard2" class="card text-center loginBox" style="background-color: orange;">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <label class="form-label">遊 戲 背 景</label>
                                            <input type="text" name="background_default" id="background_default" class="card-img-top" value="<%= userJsonData.items[0].src%>">
                                            <input class="form-control" type="file" name="background" id="background">
                                        </div>
                                    </div>
                                    <div  class="card-body">
                                    <h5 class="card-title">預覽圖</h5>
                                    <img style="width: 50%; height: 50%;" id="background_image" src="<%= userJsonData.items[0].src%>">
                                    </div>
                                    <div class="card-footer text-muted">
                                    </div>
                                </div>


                                <div id="chooseCard3" class="card text-center loginBox" style="background-color: orange;">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <label for="rawFood" class="form-label">製 作 食 物</label>
                                            <input type="text" name="rawFood_default" id="rawFood_default" class="card-img-top" value="<%= userJsonData.items[2].src%>">
                                            <input class="form-control" type="file" name="rawFood" id="rawFood">
                                        </div>
                                    </div>
                                    <div  class="card-body">
                                    <h5 class="card-title">預覽圖</h5>
                                    <img style="width: 50%; height: 50%;" id="rawFood_image" src="<%= userJsonData.items[2].src%>">
                                    </div>
                                    <div class="card-footer text-muted">
                                    </div>
                                </div>


                                <div class="card-footer text-muted">
                                    <button type="submit" onclick="saveFormData()" class="btn btn-dark">提交資料</button>

                                </div>
                            </form>
                            <button onclick="test()" class="btn btn-dark">clear1</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- 載入 React。 -->
    <!-- 注意：在發佈應用程式前，請把「development.js」替換成「production.min.js」。 -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <!-- 載入我們的 React component。-->
    <script type="text/babel" src="/src/static/js/renderModifyBox.js"></script>
</body>
</html>
