<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/login.css">
    <title>登入系統</title>

</head>
<body>
    <!-- upper bar V -->
    <div class="top">
        <a href="/" class="bar white">Home</a>
        <a href="/upload" class="bar">Upload</a>
        <a href="/index" class="bar">Games</a>
        <a href="/login" class="bar barRight">Login</a>

    </div>

    <div class="loginBox">
        <div class="loginTitle">註冊</div>
        <form action="/doRegister" method="post">
            <input type="text" name="username" class="textbar" placeholder="輸入帳號">
            <br><br>
            <input type="password" name="password" class="textbar" placeholder="輸入密碼">
            <br><br>
            <input type="submit" class="textbar" value="註冊">
            <br><br>
        </form>

    </div>

</body>
</html>