<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/uploadFile.css">
    <link rel="stylesheet" href="/src/static/bootstrap/css/bootstrap.min.css">
    <script src="/src/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/src/static/js/moblie.js"></script>

    <title>upload</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/uploadFile">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form action="/doUpload" method="post" enctype="multipart/form-data">
        <input class="form-control" type="text" name="test" id="test">

        <div class="card text-center loginBox" style="background-color: orange;">
            <div class="card-header">
                <div class="mb-3">
                    <label class="form-label">製 作 桶</label>
                    <input class="form-control" type="file" name="foodCan" id="foodCan">
                </div>
            </div>
            <div  class="card-body">
            <h5 class="card-title">預覽圖</h5>
            <input type="image" name="foodCanImage" style="display: none;" id="foodCanImage">
            <img style="width: 75%; height: 75%;" id="foodCanImage">
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>


        <div class="card text-center loginBox" style="background-color: orange;">
            <div class="card-header">
                <div class="mb-3">
                    <label class="form-label">遊 戲 背 景</label>
                    <input class="form-control" type="file" name="background" id="background">
                </div>
            </div>
            <div  class="card-body">
            <h5 class="card-title">預覽圖</h5>
            <img style="width: 75%; height: 75%;" id="backgroundImage">
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>


        <div class="card text-center loginBox" style="background-color: orange;">
            <div class="card-header">
                <div class="mb-3">
                    <label for="rawFood" class="form-label">製 作 食 物</label>
                    <input class="form-control" type="file" name="rawFood" id="rawFood">
                </div>
            </div>
            <div  class="card-body">
            <h5 class="card-title">預覽圖</h5>
            <img style="width: 75%; height: 75%;" id="rawFoodImage">
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-dark">提交資料</button>
        </div>
    </form>

</body>
</html>