body{
    font-family: "Lato", sans-serif;
    margin				: 0;
	overflow			: hidden;
	background-color	: rgb(255, 199, 127) !important;
    /* background-color: black; */
}

.loginBox{
    margin-bottom: 30px;
}


.bd-link{
    float: left;
    width: 60%;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 4rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
}


#phaser-app {
    width: 40% !important;
    /* padding: 25px; */
	margin			: 0 auto;
	display			: flex;
	justify-content	: center;
    z-index: 10;
}

.phone{
    background-color: tomato;
}

.sticky{
    position: sticky !important;
    top: 0;
    right: 0;
    z-index: 2000;
}

@media (max-width:620px) {

    #phaser-app {
        width: 100% !important;
        justify-content	: center;
    }

    .bd-link{
        width: 0%;
        visibility: hidden;
    }
}