body{
    font-family: "Lato", sans-serif;
    margin				: 0;
	overflow			: hidden;
	background-color	: rgb(255, 199, 127) !important;
    /* background-color: black; */
}

/* .center{
    justify-content: center;
} */

/* #phaser-app { */
    /* width           : 40% !important; */
    /* padding: 25px; */
	/* margin-top      : 50px;
    margin-left     : auto;
    margin-right    : auto;
	display			: flex;
	justify-content	: center;
    z-index         : 10;
} */

/* .phone-style{ */
    /* background-image: url("../img/phonestyleDis.svg"); */
    /* width: 410px;
    height: 740px;
    position: fixed;
} */

/* @media (max-width:480px) { */

    /* #phaser-app {
        width: 100% !important;
        justify-content	: center;
    }

    .right-select-bar{
        visibility: hidden;
    } */
/* } */

/* @media (max-height:790px) , (max-width:420px) and (min-height:790px){ */
    /* .phone-style{
        background-image: url("");
        width: 360px;
        top: 0;
        left: 0;
    }
    #phaser-app{
        margin-top      : 0px;
    }
} */